# Assignment 3

### Write a function to count the number 4 in a given list.

In [ ]:

def num(my_list):
  count=0
  for i in my_list:
    if i==4:
      count+=1
  return count
my_list=[1,2,4,5,6,4,3,4]
num(my_list)

3

### write a  function to check whether a number is divisible by another number.

In [ ]:
def divisible(num1,num2):
  if num1 % num2 ==0:
    print("true")
  else:
    print("false")
divisible(10,5)

true

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [ ]:
def max_min(data):
  first=data[0]
  second=data[0]
  for num in data:
    if num>first:
      first=num
    elif num<second:
      second=num
  return (first,second)

max_min([1,2,3,4,5,67,34])

(67, 1)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def member(list1,list2):
  for i in list1:
    for j in list2:
      if i==j:
        return True
member([1,3,5,7,9],[2,4,6,8,9])

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [ ]:
def factorial(num):
  if num==1:
    return 1
  else:
    return num*factorial(num-1)
factorial(5)

120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [ ]:
def check(num):
  if num in range(3,12):
    print("the number in range")
  else:
    print("the number is not in range")
check(7)

the number in range

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [ ]:
for i in range(1,11):
  print(i,"*",10,"=",i*10 )

1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(num1,num2):
  if num1 % 2==0 and num2 % 2==0:
    if num1<num2:
      return num1
    else:
      return num2
  elif num1 % 2 !=0 or num2 % 2 !=0:
    if num1>num2:
      return num1
    else:
      return num2
lesser_of_two_evens(2,4)  # return 2
#lesser_of_two_evens(2,5)  # return 5

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [8]:
def animal_crackers(text):
  st=text.split()
  if st[0][0]==st[1][0]:
    return "true"
  else:
    return "false"
animal_crackers("Levelheaded Llama") # return true
#animal_crackers("Crazy Kangaroo") # return false

'true'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [12]:
def makes_twenty(num1,num2):
  if num1+num2 ==20 or num1==20 or num2==20:
    return "true"
  return False

# makes_twenty(20,10) # true
# makes_twenty(12,8)  # true
makes_twenty(2,3)   # false

False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [17]:
def almost_there(n):
    return n in range(90,111) or n in range(190,211)

#almost_there(90)      # true
almost_there(104)   # true
# almost_there(150)   # false
# almost_there(209)   # true

True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [19]:
def blackjack(x,y,z):
  sum=x+y+z
  if sum <= 21:
    return sum
  elif sum  > 21 :
    if x==11 or y==11 or z==11:
      sum=sum-10
    else:
      return "Bust"

blackjack(5,6,7)    #--> 18
# blackjack(9,9,9)    #--> 'BUST'
# blackjack(9,9,11)   #--> 19

18