# Week 3

#019 – Numbers
#020 – Arithmetic Operators
#021 – Lists
#022 – Lists Methods Part 1
#023 – Lists Methods Part 2
#024 – Tuples Methods Part 1
#025 – Tuples Methods Part 2

In [3]:
# -------------
# -- Numbers --
# -------------

# Integer

print(type(12))
print(type(23))
print(type(-123))

# float

print(type(12.22))
print(type(0.99))
print(type(-2.34))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>

In [5]:
# complex

mycomplexnumber=5+6j
print(type(mycomplexnumber))

print("real part is : {}".format(mycomplexnumber.real))
print("imaginary part is : {}".format(mycomplexnumber.imag))

<class 'complex'>
real part is : 5.0
imaginary part is : 6.0

In [8]:
# [1] You Can Convert From Int To Float or Complex
# [2] You Can Convert From Float To Int or Complex
# [3] You Cannot Convert Complex To Any Type

print(100)
print(float(100))
print(complex(100))

print(100.20)
print(int(100.20))
print(complex(100.20))

print(5+6j)
#print(int(5+6j)) # can't convert complex to int

100
100.0
(100+0j)
100.2
100
(100.2+0j)
(5+6j)

In [19]:
# --------------------------
# -- Arithmetic Operators --
# --------------------------
# [+] Addition
# [-] Subtraction
# [*] Multiplication
# [/] Division
# [%] Modulus
# [**] Exponent
# [//] Floor Division
# --------------------------

# Addition
print(23+20)
print(3.2+5)

# Subtraction
print(100-50)
print(50-100)

# multiplication
print(20*2)
print(100*2)

# division
print(100/20)
print(int(100/20))

# Modulus
print(8 % 2)
print(9 % 2)
print(20 % 5)
print(22 % 5)

# Exponent
print(2**5)

# Floor Division
print(100//20)
print(122//5)

43
8.2
50
-50
40
200
5.0
5
0
1
0
2
32
5
24

In [3]:
# -----------------------------
# -- Lists --
# -----------
# [1] List Items Are Enclosed in Square Brackets
# [2] List Are Ordered, To Use Index To Access Item
# [3] List Are Mutable => Add, Delete, Edit
# [4] List Items Is Not Unique
# [5] List Can Have Different Data Types
# -----------------------------

myAwesomeList = ["One", "Two", "One", 1, 100.5, True]
print(myAwesomeList)
print(myAwesomeList[1])
print(myAwesomeList[-1])
print(myAwesomeList[-3])

print(myAwesomeList[1:4])
print(myAwesomeList[:4])
print(myAwesomeList[1:])

print(myAwesomeList[::1])
print(myAwesomeList[::2])

print(myAwesomeList)
print(myAwesomeList[1])
print(myAwesomeList[-1])

myAwesomeList[0:3]=["a"]
print(myAwesomeList)

['One', 'Two', 'One', 1, 100.5, True]
Two
True
1
['Two', 'One', 1]
['One', 'Two', 'One', 1]
['Two', 'One', 1, 100.5, True]
['One', 'Two', 'One', 1, 100.5, True]
['One', 'One', 100.5]
['One', 'Two', 'One', 1, 100.5, True]
Two
True
['a', 1, 100.5, True]

In [5]:
# -------------------
# -- Lists Methods --
# -------------------

# append()

myFriends = ["Osama", "Ahmed", "Sayed"]
myOldFriends = ["Haytham", "Samah", "Ali"]

myFriends.append("alaa")
myFriends.append(100)
myFriends.append(100.23)
myFriends.append(True)
myFriends.append(myOldFriends)

print(myFriends)
print(myFriends[2])
print(myFriends[6])
print(myFriends[7])
print(myFriends[7][2])

['Osama', 'Ahmed', 'Sayed', 'alaa', 100, 100.23, True, ['Haytham', 'Samah', 'Ali']]
Sayed
True
['Haytham', 'Samah', 'Ali']
Ali

In [7]:
a = [1, 2, 3, 4]
b = ["A", "B", "C"]
c = ["One", "Two"]

a.extend(b)
a.extend(c)
print(a)

[1, 2, 3, 4, 'A', 'B', 'C', 'One', 'Two']

In [13]:
# remove()

x = [1, 2, 3, 4, 5, "Osama", True, "Osama", "Osama"]

x.remove("Osama")
x.remove(5)
print(x)

# sort()

y = [1, 2, 100, 120, -10, 17, 29]
z= ["A", "Z", "C"]
y.sort(reverse=True)
print(y)
z.sort()
print(z)

z = [10, 1, 9, 80, 100, "Osama", 100]
z.reverse()
print(z)

[1, 2, 3, 4, True, 'Osama', 'Osama']
[120, 100, 29, 17, 2, 1, -10]
['A', 'C', 'Z']
[100, 'Osama', 100, 80, 9, 1, 10]

In [16]:
# -------------------
# -- Lists Methods --
# -------------------

# clear()
a = [1, 2, 3, 4]
a.clear()
print(a)

# copy()

b = [1, 2, 3, 4]
c=b.copy()
print(b)
print(c)

b.append(5)
print(b)
print(c)

[]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [18]:
# count()

d = [1, 2, 3, 4, 3, 9, 10, 1, 2, 1]
print(d.count(3))

# index()

e = ["Osama", "Ahmed", "Sayed", "Ramy", "Ahmed", "Ramy"]
print(e.index("Sayed"))

2
2

In [20]:
# insert()

f = [1, 2, 3, 4, 5, "A", "B"]
f.insert(0,0)
f.insert(-1,"c")

print(f)

[0, 1, 2, 3, 4, 5, 'A', 'c', 'B']

In [22]:
# pop()

g = [1, 2, 3, 4, 5, "A", "B"]
print(g.pop(-3))
print(g)

5
[1, 2, 3, 4, 'A', 'B']

In [28]:
# -----------------------------
# -- Tuple --
# -----------
# [1] Tuple Items Are Enclosed in Parentheses
# [2] You Can Remove The Parentheses If You Want
# [3] Tuple Are Ordered, To Use Index To Access Item
# [4] Tuple Are Immutable => You Cant Add or Delete
# [5] Tuple Items Is Not Unique
# [6] Tuple Can Have Different Data Types
# [7] Operators Used in Strings and Lists Available In Tuples
# -----------------------------

# Tuple Syntax & Type Test

myAwesomeTupleOne = ("Osama", "Ahmed")
myAwesomeTupleTwo = "Osama", "Ahmed"

print(myAwesomeTupleOne)
print(myAwesomeTupleTwo)

print(type(myAwesomeTupleOne))
print(type(myAwesomeTupleTwo))

# Tuple Indexing

myAwesomeTupleThree = (1, 2, 3, 4, 5)
print(myAwesomeTupleThree[0])
print(myAwesomeTupleThree[-1])
print(myAwesomeTupleThree[-3])


# Tuple Assign Values

myAwesomeTupleFour = (1, 2, 3, 4, 5)
# myAwesomeTupleFour[2] = "Three"
# print(myAwesomeTupleFour)  # 'tuple' object does not support item assignment

# Tuple Data

myAwesomeTupleFive = ("Osama", "Osama", 1, 2, 3, 100.5, True)
print(myAwesomeTupleFive[1])
print(myAwesomeTupleFive[-1])

('Osama', 'Ahmed')
('Osama', 'Ahmed')
<class 'tuple'>
<class 'tuple'>
1
5
3
Osama
True

In [30]:
# -----------
# -- Tuple --
# -----------

# Tuple With One Element

myTuple1 = ("Osama",)
myTuple2 = "Osama",

print(myTuple1)
print(myTuple2)

print(type(myTuple1))
print(type(myTuple2))

print(len(myTuple1))
print(len(myTuple2))

('Osama',)
('Osama',)
<class 'tuple'>
<class 'tuple'>
1
1

In [31]:
# Tuple Concatenation

a = (1, 2, 3, 4)
b = (5, 6)

c = a + b
d = a + ("A", "B", True) + b

print(c)
print(d)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 'A', 'B', True, 5, 6)

In [32]:
# Tuple, List, String Repeat (*)

myString = "Osama"
myList = [1, 2]
myTuple = ("A", "B")

print(myString*6)
print(myList*6)
print(myTuple*6)

OsamaOsamaOsamaOsamaOsamaOsama
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
('A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B')

In [34]:
# Methods => count()

a = (1, 3, 7, 8, 2, 6, 5, 8)
print(a.count(8))

# Methods => index()

b = (1, 3, 7, 8, 2, 6, 5)
# print("The Position of Index Is: " + b.index(7))  # Error
print("The Position of Index Is: {:d}".format(b.index(7)))
print(f"The Position of Index Is: {b.index(7)}")

# Tuple Destruct

a = ("A", "B", 4, "C")

x, y, _, z = a

print(x)
print(y)
print(z)
print(_)

2
The Position of Index Is: 2
The Position of Index Is: 2
A
B
C
4

# Assignments

In [2]:
# 1
print(type(100))
print(type(-100))
print(type(100.32))
print(type(3+6j))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
# 2
x=1+2j

# Print Imaginary Part Here
# Print Real Part Here

print(x.imag)
print(x.real)

2.0
1.0

In [10]:
# 3
num = 10

# Needed Ouput
# 10.0000000000
f=float(num)
print("{:.10f}".format(f))

10.0000000000

In [13]:
# 4
num = 159.650

# Needed Output
# 159
# <class 'int'>

num=int(num)
print(int(num))
print(type(num))

159
<class 'int'>

In [14]:
# 5
#100 - 115 = -15  # -
# 50 * 30 = 1500
# 21 % 4 = 1
# 110 / 11 = 10
# 97 / 20 = 4

In [16]:
# 1

friends = ["Osama", "Ahmed", "Sayed", "Ali", "Mahmoud"]

# Needed Output
# "Osama" => Method One
# "Osama" => Method Two
# "Mahmoud" => Method One
# "Mahmoud" => Method Two

print(friends[0])
print(friends[-5])
print(friends[-1])
print(friends[4])

Osama
Osama
Mahmoud
Mahmoud

In [21]:
# 2

friends = ["Osama", "Ahmed", "Sayed", "Ali", "Mahmoud"]

# Needed Output
# "Osama", "Sayed", "Mahmoud"
# "Ahmed", "Ali"

print(friends[::2])
print(friends[1::2])

['Osama', 'Sayed', 'Mahmoud']
['Ahmed', 'Ali']

In [22]:
# 3

friends = ["Osama", "Ahmed", "Sayed", "Ali", "Mahmoud"]

# Needed Output
# "Ahmed", "Sayed", "Ali",
# "Ali", "Mahmoud"

print(friends[1:5])
print(friends[3:5])

['Ahmed', 'Sayed', 'Ali', 'Mahmoud']
['Ali', 'Mahmoud']

In [37]:
# 4
friends = ["Osama", "Ahmed", "Sayed", "Ali", "Mahmoud"]

# Needed Output
# ["Osama", "Ahmed", "Sayed", "Elzero", "Elzero"]

friend=["elzero","elzero"]
y=friends[0:3]
result=y+friend
print(result)

['Osama', 'Ahmed', 'Sayed', 'elzero', 'elzero']

In [41]:
# 5
friends = ["Osama", "Ahmed", "Sayed"]

# Needed Output
# ["Nasser", "Osama", "Ahmed", "Sayed"]
# ["Nasser", "Osama", "Ahmed", "Sayed", "Salem"]

friends.append("nasser")
friends.insert(0,"salem")
print(friends)

['salem', 'Osama', 'Ahmed', 'Sayed', 'nasser']

In [46]:
# 6
friends = ["Nasser", "Osama", "Ahmed", "Sayed", "Salem"]

# Needed Output
# ["Ahmed", "Sayed", "Salem"]
# ["Ahmed", "Sayed"]

friends.remove("Nasser")
friends.remove("Osama")
print(friends)
friends.remove(friends[-1])
print(friends)

['Ahmed', 'Sayed', 'Salem']
['Ahmed', 'Sayed']

In [48]:
# 7

friends = ["Ahmed", "Sayed"]
employees = ["Samah", "Eman"]
school = ["Ramy", "Shady"]

# Needed Output
# ["Ahmed", "Sayed", "Samah", "Eman", "Ramy", "Shady"]

friends.extend(employees)
friends.extend(school)
print(friends)

['Ahmed', 'Sayed', 'Samah', 'Eman', 'Ramy', 'Shady']

In [50]:
# 8
friends = ["Ahmed", "Sayed", "Samah", "Eman", "Ramy", "Shady"]

# Needed Output
# ['Ahmed', 'Eman', 'Ramy', 'Samah', 'Sayed', 'Shady']
# ['Shady', 'Sayed', 'Samah', 'Ramy', 'Eman', 'Ahmed']

friends.sort()
print(friends)
friends.sort(reverse=True)
print(friends)

['Ahmed', 'Eman', 'Ramy', 'Samah', 'Sayed', 'Shady']
['Shady', 'Sayed', 'Samah', 'Ramy', 'Eman', 'Ahmed']

In [54]:
# 9

friends = ["Ahmed", "Sayed", "Samah", "Eman", "Ramy", "Shady"]

# Needed Output
# 6
print(len(friends))

6

In [55]:
# 10

technologies = ["Html", "CSS", "JS", "Python", ["Django", "Flask", "Web"]]

# Needed Output
# Django
# Web

print(technologies[4][0])
print(technologies[4][-1])

Django
Web

In [57]:
# 1
# Needed Output

# "Osama"
# <class 'tuple'>

tple="mohamed",
print(tple)
print(type(tple))

('mohamed',)
<class 'tuple'>

In [69]:
# 2
friends = ("Osama", "Ahmed", "Sayed")

# Needed Output

# ("Elzero", "Ahmed", "Sayed")
# <class 'tuple'>
# 3 Elements

x=list(friends)
x[0]="elzero"
friends=tuple(x)
print(friends)
print(type(friends))
print(len(friends))

('elzero', 'Ahmed', 'Sayed')
<class 'tuple'>
3

In [70]:
# 3
nums = (1, 2, 3)
letters = ("A", "B", "C")

# Needed Output

# nums_and_letters_one = (1, 2, 3, "A", "B", "C")
# 6 Elements

num_lett=nums+letters

print(num_lett)
print(len(num_lett))

(1, 2, 3, 'A', 'B', 'C')
6

In [71]:
# 4
my_tuple = (1, 2, 3, 4)

# Needed Output

# 1
# 2
# 4

a,b,c=my_tuple[0],my_tuple[1],4

print(a)
print(b)
print(c)

1
2
4